# Python stuff
__pycache__

# Mac stuff
.DS_Store

# Editor specific stuff
.vscode
.idea/

# Confidential
config.json
license.txt
local-debug.sh

# large project files
app/cpu/latest_net_G.pth
app/gpu/latest_net_G.pth
app/TemplateKhula.nii
venv/