flywheel-gear-toolkit==0.6.21
flywheel-gears==0.3.1
flywheel-sdk==20.0.0
torch==2.2.2
torchvision===0.17.2
numpy<2
monai
tqdm
einops
einops_exts
rotary_embedding_torch
matplotlib
scipy
ml_collections
SimpleITK
mamba-ssm